@model ProductCrEditVM
@{
    var title = "Новый продукт";
}
@{
    var categories = Model.Categories;

    foreach (var category in categories)
    {
        var fields = category.MiscFields;
        var nameid = "fieldgroup" + category.Id.ToString();
        <div id=@nameid hidden="hidden">
            @if (fields is not null & fields.Count() > 0)
            {
                @foreach (var field in fields)
                {
                    var name = $"adFields";
                    <div class="form-group row py-2">
                        <div class="col-4">
                            <label>@field.Name</label>
                        </div>
                        <div class="col-8">
                            <input name="@name" class="form-control" />
                        </div>
                    </div>
                }
            }
        </div>
    }
}
<form method="post" enctype="multipart/form-data">
    @if (Model.ProductDTO.Id != 0)
    {
        title = "Редактирование";
        <input asp-for="ProductDTO.Id" hidden />
    }
    <div class="border p-3 bg-white">

        <div class="form-group row">
            <h2 class="text-info pl-3">@title</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row py-2">
                    <div class="col-4">
                        <label asp-for="ProductDTO.CategoryName"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="ProductDTO.CategoryId" id="categorySelection" asp-items="@Model.Categories.Select(c=>new SelectListItem(){ Value=c.Id.ToString(), Text = c.Name})" class="form-select">
                            <option disabled selected>--Выберете категорию--</option>
                        </select>
                        <span asp-validation-for="ProductDTO.CategoryId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row py-2">
                    <div class="col-4">
                        <label asp-for="ProductDTO.Name"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="ProductDTO.Name" class="form-control" />
                        <span asp-validation-for="ProductDTO.Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row py-2">
                    <div class="col-4">
                        <label asp-for="ProductDTO.Price"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="ProductDTO.Price" class="form-control" />
                        <span asp-validation-for="ProductDTO.Price" class="text-danger"></span>
                    </div>
                </div>
                <div id="insertedFields"></div>
                <div class="form-group row py-2">
                    <div class="col-4">
                        <label asp-for="ProductDTO.Description"></label>
                    </div>
                    <div class="col-8">
                        <textarea asp-for="ProductDTO.Description" class="form-control summernote"></textarea>
                        <span asp-validation-for="ProductDTO.Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row py-2">
                    <div class="col-4">
                        <label asp-for="ProductDTO.Image"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="ProductDTO.Image" accept=".jpg" type="file" id="uploadBox" class="form-control" />
                    </div>
                </div>
                                
                <div class="form-group row py-2">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            @if (Model.ProductDTO.Id != 0)
                            {
                                <input type="submit" class="btn btn-info w-100" value="Изменить" />
                            }
                            else
                            {
                                <input type="submit" onclick="return validateInput()" class="btn btn-primary w-100" value="Добавить" />
                            }
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-100"><i class="fas fa-sign-out-alt"></i>Назад</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

@section Scripts{

    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script> 
        let hidField =''
        let selection = document.getElementById("categorySelection");
        selection.addEventListener('change',(event)=>
        {
            //if(hidField!=''){
            //    let tohid = document.getElementById(hidField);
            //    tohid.setAttribute('hidden',"hidden");
            //}
            let val = selection.value;
            hidField = "fieldgroup" + val;
            let field = document.getElementById(hidField);
            let content = field.innerHTML;
            let block = document.getElementById("insertedFields");
            block.innerHTML = content;
            //field.removeAttribute('hidden');
        });
       
        
    </script>
    <script>
        $(document).ready(function () {
            $('.summernote').summernote({
                height: 250
            });
        });
        //function validateInput() {
        //    if (document.getElementById("uploadBox").value == "") {
        //        Swal.fire(
        //            'Error!',
        //            'Please upload an Image!',
        //            'error'
        //        )
        //        return false;
        //    }
        //    return true;
        //}
    </script>
}
