@{
    ViewData["Title"] = "Home Page";
}
@model HomeVM
<div class="container">
    <div class="text-center">
        <button class="btn btn-dark filter-button" data-filter="all">Все</button>
        @foreach (var name in Model.CategorieNames)
        {
            <button class="btn btn-outline-secondary filter-button" data-filter="@name">
                @name
            </button>
        }
    </div>
    <br />
    <div class="row" id="products">        
        @if (Model is not null)
        {
            @foreach (var prod in Model.Products)
            {
                <partial name="_ProductCard" model="prod" />
            }
        }
    </div>

    <div class="modal fade" id="watchProduct" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div id="cardBody" class="modal-content mb-0"></div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $(".filter-button").click(function () {
                var value = $(this).attr('data-filter');
                if (value == "all") {
                    $('.filter').show('1000');
                }
                else {
                    $(".filter").not('.' + value).hide('3000');
                    $('.filter').filter('.' + value).show('3000');
                }
            });
        });


        var exampleModal = document.getElementById('watchProduct')
        exampleModal.addEventListener('show.bs.modal', function (event) {
            
            var button = event.relatedTarget
            var prodId = button.getAttribute('data-bs-whatever')

            fetch(`Product/GetProduct/${prodId}`)
            .then((response)=>{
                return response.text();
            })
            .then((result)=>{
                document.getElementById('cardBody').innerHTML=result;
            });
        })
    </script>
}