@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<ProductDTO>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div id="products">
        
        @if (Model is not null)
        {
            @foreach (var prod in Model)
            {
                <partial name="_ProductCard" model="prod" />
            }
        }
    </div>
</div>
@section Scripts{
    <script>
        fetch('https://localhost:7186/api/product')
        .then((responce)=>responce.json())
            .then((data) => fetch('/getproducts', { body: data }))

        function _displayCategories(data) {
            const list = document.getElementById('categories');
            list.innerHTML = ``;
           
            data.forEach(item => {
                let row = document.createElement('li');
                row.innerText=item.name;
                list.appendChild(row);
            });
        }

    </script>
}
